<section class="section-expand" data-ng-controller="DistrictDashboardsController" data-ng-init="initiate()">
	<div class="page-header">
		<h3>{{dashboard.title}}</h3>
	</div>
	<div class="container">
		<div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
			<div id="header" class="row">
				<div class="col-md-8">
					<div id="title">District Dashboard</div>
				</div>
				<div class="col-md-1">
				</div>                            
				<div id="count-info" class="col-md-4">
					<span class="filter-count "></span> selected out of <span class="total-count "></span> records:   
					<a href="javascript:dc.filterAll(); dc.redrawAll()">Reset All</a>
				</div>                    
			</div>
			<div class="row">
				<div class="col-md-4 colheight">
					<div class="col-xs-12 removepadding">
						<b>Rode Kruis districten in Nederland</b>
						<div id="map-chart" style="width:300px; height:480px;"></div>						
					</div>
					<!--
					<div class="col-xs-12 removepadding">
						<dc-chart id="where-chart"
							chart="mapChart"
							type="mapChartType"
							options="mapChartOptions"
							style="display:block; width:300px; height:300px;">
						</dc-chart> 
					</div>
					-->
				</div>
				<!--
				<div class="col-md-4 colheight">
					<div class="col-xs-6 removepadding">
					</div>
				</div>
				<div class="col-md-4 colheight">
					<div class="col-xs-12 removepadding" id="composite-chart">
						<b>Aantal Ready2Helpers per district</b>
					</div>                  
				</div>
				-->
				<div class="col-md-4 colheight">
					<div class="col-xs-12 removepadding" id="row-chart">
						<b><span>{{metric}}</span> per district</b>
					</div>                  
				</div>
				<!--
				<div class="col-md-4 colheight">
					<div class="col-xs-12 removepadding" id="row-chart2">
						<b>Aantal inwoners per district</b>
					</div>                  
				</div>
				-->
			</div> 
			<br><br><br><hr>
			<!--
			<div class="row">
				<div class="col-md-4 colheight">
					<div class="col-xs-12 removepadding" id="fl-chart">
						<b>Aantal helpers per 1e letter van district</b>
					</div>                  
				</div>
			</div> 
			-->
			<div class="row">
				<div class="col-md-4">
					<b>Algemeen</b>
					<table style="align: right" class="table-condensed table-hover" id="data-table2" metric="ALGaantalinwoners">
					<!--
					  <thead>
						<tr class="header" id="tabletip">
						  <th>Metric</th>
						  <th>Value</th>                  
						</tr>
					  </thead>
					  <tbody>
						<tr id="data-table2"></tr>
						<tr id="data-table3"></tr>
					  </tbody>
					-->
					</table>
					<table style="align: right" class="table-condensed table-hover" id="data-table3"></table>
					<hr>
					<b>Vrijwilligersmanagement</b>
					<table style="align: right" class="table-condensed table-hover" id="data-table4"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table5"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table6"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table7"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table8"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table9"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table10"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table11"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table12"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table13"></table>
				</div>
				
				<div class="col-md-4">
					<b>Noodhulp</b>
					<table style="align: right" class="table-condensed table-hover" id="data-table14"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table15"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table16"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table17"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table18"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table19"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table20"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table21"></table>
					<hr>
					<b>Evementenhulpverlening</b>
				</div>
				
				<div class="col-md-4">
					<b>Noodhulp</b>
					<table style="align: right" class="table-condensed table-hover" id="data-table14"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table15"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table16"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table17"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table18"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table19"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table20"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table21"></table>
					<hr>
					<b>...</b>
					<table style="align: right" class="table-condensed table-hover" id="data-table22"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table23"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table24"></table>
					<table style="align: right" class="table-condensed table-hover" id="data-table25"></table>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="col-md-12">
					 <div id="row-chart"></div>
				</div>
			</div>		
			-->
		</div>
	</div>
</section>