<section class="section-expand" data-ng-controller="DistrictDashboardsController" data-ng-init="initiate()">
	<div class="page-header">
		<h3>{{dashboard.title}}</h3>
	</div>
	<div class="container">
            <div id="header" class="row">
                <div class="col-md-8">
					<div id="title">{{title}}</div>
                </div>
                <div class="col-md-1">
                </div>                            
                <div id="count-info" class="col-md-3">
                    <span class="filter-count "></span> selected out of <span class="total-count "></span> records.
                </div>                    
            </div>
            <div class="row">
                <div class="col-md-4 colheight">
                    <div class="col-xs-12 removepadding">
					    <dc-chart id="where-chart"
							chart="mapChart"
							type="mapChartType"
							options="mapChartOptions"
							style="display:block; width:300px; height:300px;">
						</dc-chart> 
                      
                    </div>
                </div>
				<div class="col-md-4 colheight">
                    <div class="col-xs-6 removepadding">
                    </div>
                </div>
				<div class="col-md-4 colheight">
                                      
                </div>
            </div> 
			<div class="row">
                <div class="col-md-12">
                    <h3>Data Table</h3>
                    <table class="table table-hover" id="data-table">
                      <thead>
                        <tr class="header" id="tabletip">
                          <th>District</th>
                          <th>Aantal Ready2Helpers</th>                  
                        </tr>
                      </thead>
                    </table>
                </div>
            </div>			
        </div>
</section>